.all-posts__content {
  width: 100%;
  display: grid;
  justify-items: flex-start;
  row-gap: 12px;
}

.all-posts__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}