.intro {
  z-index: 5;
}

.intro__title {
  margin-bottom: 8px;
}

.intro__description {
  max-width: 850px;
}

.intro__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
