@import "../../../assets/styles/breakpoints.pcss";

.post-list {
  width: 100%;
  display: grid;
  gap: 20px;
  padding-block: 20px;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}