$breakpoints: (
  max: $breakpoint-max,
  xxl: $breakpoint-xxl,
  xl: $breakpoint-xl,
  lg: $breakpoint-lg,
  md: $breakpoint-md,
  sm: $breakpoint-sm,
  xs: $breakpoint-xs,
) !default;

@mixin media-up($name) {
  @media (min-width: map-get($breakpoints, $name) + 0.02) {
    @content;
  }
}
